.session_cls_btn{
    color:red;
    font-size:15px;
}

.state_btn_ah{
    position: absolute;
    left: 44px;
    margin-top: -5px;
}

.btn-link.text-danger{
    color : #dc3545 !important
}
.btn-link.text-success{
    color: #008818 !important;
}
